body {
    background: rgb(138, 21, 56);
    background: linear-gradient(
      135deg,
      rgba(138, 21, 56, 1) 0%,
      rgba(28, 1, 10, 1) 100%
    );
    min-height: 100vh;
    font-family: arabic-bold !important;
  }

  @font-face {
    font-family: arabic-bold;
    src: url(../fonts/Qatar2022Arabic-Bold.ttf);
  }
  @font-face {
    font-family: arabic-heavy;
    src: url(../fonts/Qatar2022Arabic-Heavy.ttf);
  }
  
  .bandera {
    width: 50px;
    height: 30px;
    border: 1px solid black;
  }

  .bandera img {
    object-fit: cover;
    width:100%;
    height:100%;
  }
